
.cart-view {
    font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
.cart-p-desc{
  position: relative;
  min-height: 60px;
}
.cart-p-thumb{
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
}
.cart-p-thumb img{
  width:100%;
}
.cart-p-name{
  padding-left:100px;
}
.cart-qty{
  width:50px;
}

